body{
    background-color: #282c34;
}
.container{
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 100%;
    grid-template-columns: 50px 10fr;
    grid-template-areas:
            'h h'
            'c c';
    grid-gap: 10px;
}
.content{
    color: #fff;
    border: 1px solid #ffffff;
    display: grid;
    grid-area: c;
}